.messageWrapper {
    display: block;
}

.contentWrapper {
    padding: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 3px;
    width: 100%;
}

.voteUp {
    color: #9bc53d;
    text-decoration: none;
    margin-right: 15px;
    text-shadow: 0 0 1px black;
}

.commentAndTopic {
    display: flex;
}

.topic {
    border-radius: 10px;
    font-size: xx-small;
    padding: 5px;
    margin-left: 5px;
    color: white;
    font-weight: 900;
}

.voteDown {
    color: #e63946;
    text-decoration: none;
    text-shadow: 0 0 1px black;
    margin-left: 15px;
}

.voteNumber {
    color: #000000
}

.voteNumberLow {
    color: #f94144
}

.voteNumberHight {
    color: #90be6d
}

.message {
    padding: 30px 500px 10px 500px;
    text-align: justify;
    display: flex;
}

.message:first-child {
    margin-top: 100px;
}

.messageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.messageCaptcha {
    display: none;
}

.messageWrapper {
    display: block;
}

.metaInfo{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.commentDate{
    font-weight: 100;
    font-size: x-small;
}

.commentLink{
    color: #264653;
    text-decoration: none;
    font-size: small;
}

.messageContent {
    font-size: small;
}

.message:first-child{
    margin-top: 50px;
}

.messageAvatar {
    width: 10%;
    height: 10%;
    border-radius: 5%;
    margin-right: 5px;
}

.channelName {
    color: #2a9d8f;
    text-decoration: none;
}

.messageInfo {
    padding: 70px 500px 10px 500px;
    text-align: justify;
    display: flex;
}

.links {
    margin-top: 10px;
}

.hashTags {
    margin-top: 10px;
    font-size: smaller;
}

.hashLink {
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    
    .message {
        padding: 30px 10px 10px 10px;
        text-align: justify;
        display: flex;
    }

    .messageWrapper {
        display: inline-table;
    }
    
  }

