.topics {
    background-color: #1d3557;
    height: 100%;
    width: 300px;
    margin-top: 50px;
    display: inline-table;
    position: fixed;
}

.topic {
    font-size: x-small;
    padding: 10px;
    margin: 10px;
    text-align: left;
    font-weight: 700;
    border-bottom: 1px black solid;
}

.circle:before {
    content: ' \25CF';
    font-size: 15px;
}

.topicLink {
    text-decoration: none;
    margin-left: 10px;
    color: #f6f6f6;
}
