.main {
    background-color: #f4f4f4;
}

.aboutContent {
    padding: 70px 500px 10px 500px;
    text-align: justify;
    display: flex;
}

.aboutContentWrapper {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    border-radius: 3px;
    padding: 20px 20px 20px 20px;
}