.updateButton {
    margin-top: 50px;
    background-color: #2a9d8f; 
  border: none;
  color: white;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}

.updateButton:hover {
    background-color:#94CEC7; 
}

.wrapper {
  justify-content: center;
  display: flex;
}