.headerLink {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: larger;
    font-weight: 800;
}

.headerWrap {
    background-color: #2b2d42;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
}

.headerOptions {
    justify-content: center;
    width: 65%;
    display: inline-flex;
}

.headerSearch {
    display: flex;
    padding: 10px;
}

.item { 
    padding-right: 20px;
    border-right: 2px solid #e63946;
    padding-top: 7px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-right: 2px;
}

.item:last-child { 
    padding-right: 20px;
    border-right: none;
    padding-top: 7px;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-right: 2px;
}

.headerOptionsBlock {
    justify-content: space-between;
    display: flex;
}

.searchMobile {
    margin-top: 5px;
    margin-right: 5px;
}

.search {
    border-radius: 4px;
    border: 0;
    width: 300px;
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    
    .headerWrap {
        display: inline-table;
    }

    .search {
        height: 25px;
        width: 100%;
    }
    
  }