.wrap {
    background-color: white;
    margin: 30px 500px 10px 500px;
}

.sortItem {
    padding-top: 20px;
    padding-left: 10px;
    font-size: x-small;
    font-weight: 500;
}

.sortItemLink {
    text-decoration: none;
    color: black;
}

.sortItemLinkSelected {
    font-weight: 800;
    text-decoration: none;
    color: black;
}

.voteDown {
    color: #e63946;
    text-decoration: none;
    text-shadow: 0 0 1px black;
    margin-left: 15px;
}

.messageCaptcha {
 
}

.voteUp {
    color: #9bc53d;
    text-decoration: none;
    margin-right: 15px;
    text-shadow: 0 0 1px black;
}

.sortOptions {
    display: flex;
}

.comments {
    padding-bottom: 50px;
    background-color: white;
    display: inline;
    justify-content: center;
}

.commentVote {
    display: flex;
}

.comment {
    display: inline;
    width: 70%;
}

.commentDate{
    font-weight: 100;
    font-size: x-small;
}

.commentHeader {
    display: flex;
}

.commentName {
    font-weight: bold;
}

.commentMetaInfo {
    margin-left: 10px;
}

.commentContent{
    font-size: x-small;
    margin-top: 5px;
}

.commentSendButton {
    text-decoration: none;
    background-color: #2a9d8f;
    border: none;
    margin-top: 10px;
    height: 55px;
    border-radius: 5px;
    color: blanchedalmond;
}

.commentInputWrapper {
    border-top: 1px solid black;
    margin-top: 10px;
    padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.commentInput {
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 94%;
    height: 50px;
    resize: none;
}

.commentSubmit {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.commentBlock {
    display: flex;
    width: 75%;
}

.commentWrapper {
    display: flex;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}